
<h1>Editing Book</h1>

   <%= form_for @toukou do |f| %>

   <h4><%= f.label :title %></h4>
   <%= f.text_field :title  %>
   <h4><%= f.label :body %></h4>
   <%= f.text_area :body %>

   <%= f.submit 'update Book' %>
   <% end %>


